<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612653991814-o9s4k23ng87jm0skldjtoaut3ran215d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612653991814-o9s4k23ng87jm0skldjtoaut3ran215d</string>
	<key>API_KEY</key>
	<string>AIzaSyC_cx7i3McG0Ocn3ecz9_y1kTTn7kmtwHA</string>
	<key>GCM_SENDER_ID</key>
	<string>612653991814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.parke.Respyr</string>
	<key>PROJECT_ID</key>
	<string>respyr-5cb02</string>
	<key>STORAGE_BUCKET</key>
	<string>respyr-5cb02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612653991814:ios:17bedd953bc72d13568e07</string>
</dict>
</plist>